.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.ai {
  align-items: center;
}
.jc {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}
.mh-10 {
  margin: 0 10px;
}

.large-text {
  font-size: max(32px, 2rem);
}

.title-text {
  font-size: max(20px, 1.25rem);
}

.body-text {
  font-size: max(16px, 1rem);
}

.small-text {
  font-size: max(12px, 0.75rem);
}