$primary-background: #20293A;
$secondary-background: #111729;

$text-primary: #CDD5E0;
$text-secondary: #4A5567;
$placeholder: #364153;


// Card
$price-background: #BEE3CC;
$yellow-primary: #F6C768;
$alert-text: #ED735D;

