$primary-background: #111315;
$modal-primary-background: #1B1D1F;

$text-primary: #FEF7EE;
$text-secondary: #6F757C;


// Card
$price-background: #BEE3CC;
$yellow-primary: #F6C768;
$alert-text: #ED735D;

