@import "colors";
.container {
  position: relative;
  background-color: $primary-background;
  width: 100vw;
  min-height: 100vh;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 100%;
  height: 400px;
  background-image: url('/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}