@import "base";
@import "colors";
.container {
  width: 100%;
  height: 200px;
  padding: 0 12px;
  background-image: linear-gradient(
    #000,
    $light-card-background
  );
  border-radius: 8px;
}

.name-text{
  @extend .title-text;
  color: $text-primary;
}
.description-text{
  @extend .body-text;
  color: $text-secondary;
  margin-left: 8px;
}
