@import "colors";
@import "base";
.container {
  display: flex;
  align-items: center;
  height: min(50px, 5em);
  border-radius: 8px;
  background-color: $card-background;
  padding: 8px;
  margin: 8px 0;

  @media (min-width: 720px) {
    margin: 0 8px;
  }
}

.separator {
  height: 100%;
  margin: 0 8px;
  border: 1px solid $text-secondary;
}

.label {
  color: $text-secondary;
  @extend .body-text;
  padding: 12px;
}

.value {
  white-space: nowrap;
  color: $text-primary;
  @extend .body-text;
  padding: 12px;
}